@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'IBMPlexSansKR-Regular', sans-serif;
}

html, body {
    width: 100%;
    height: 100%
}

.result_image {
    width: 200px;
}